

    
    {% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
	    
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5" data-aos="fade-in" data-aos-duration="2000">
		    <div class="container text-center single-col-max-width">
			    <h2 class="heading">Portfolio</h2>
			    <div class="intro">
			    <p>Welcome to my online portfolio. I'm taking on freelance work at the moment. Want some help building your software?</p>
			    
			    </div>
			    <a class="btn btn-primary" href="{%url "main:contact_view"%}" target="_blank"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a>
			    
			    
		    </div><!--//container-->
	    </section>

	    <section class="projects-list px-3 py-5 p-md-5" data-aos="fade-in" data-aos-duration="2000">
		    <div class="container">
			    <div class="project-cards row isotope">

					{% for project in projects %}
					<div class="isotope-item align-items-stretch d-flex col-md-6 mb-5 mobileapp frontend">
						<div class="card project-card">
							<div class="row no-gutters">
								<div class="col-lg-5 card-img-holder">
									<img src="{{project.project_image.url}}" class="card-img" alt="image">
								</div>
								<div class="col-lg-7">
									<div class="card-body">
										<h5 class="card-title"><a href="#" class="theme-link">{{project.project_title}}</a></h5>
										<p class="card-text">{{project.project_overview|safe|truncatechars:150}}</p>
										{% if project.open_source == True %}
										<p class="card-text"><small class="text-muted">Open source</small></p>
										{% else %}
										<p class="card-text"><small class="text-muted">Client: </small></p>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="link-mask">
								<a class="link-mask-link" href="{% url 'main:project_detail' slug=project.slug %}"></a>
								<div class="link-mask-text">
									<a class="btn btn-secondary" href="{% url 'main:project_detail' slug=project.slug %}">
										<i class="fas fa-eye mr-2"></i>View Project
									</a>
								</div>
							</div><!--//link-mask-->
						</div><!--//card-->
					</div><!--//col-->
				{% endfor %}
				</div>
	
			
		    </div>
	    </section>

{% endblock %}
