{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
	  

	<div class="main-wrapper">
		<section class="cta-section theme-bg-light py-5" data-aos="fade-in" data-aos-duration="2000">
			<div class="container text-center single-col-max-width">
				<h2 class="heading">Services &amp; Pricing</h2>
				<div class="intro">
          {% load static %}
					<p>I have 3+ years of development experience building software for the web and desktop devices. You can take a look at my <a href="{% url "main:projects_view" %}">project portfolio</a> and <a href="{% static "resume/Brandon-Lecky-Resume.pdf" %}" download>online resume</a> to find out more about my skills and experiences.</p>
					<p class="mb-0">I'm currently taking on freelance software development work. You're welcome to contact me for a custom quote for your project. I also offer development service packages with fixed pricing. </p>
				</div>
				
			</div><!--//container-->
		</section>
		

<section class="pricing py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body text-center">
            <h5 class="card-title text-muted text-uppercase">Basic</h5>
					<h1 class="card-title pricing-card-title">$500 <small class="text-muted">+</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Small Business Website or Portfolio</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Domain</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Personal Email Address</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> SSD Cloud Storage</strong></li>
              <li><i class="fas fa-check pricing-checkmark"pricing-checkmark></i></span><strong> Single Core CPU</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> 1TB Transfer</strong></li>
              <li>-or-</li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Small Software Project</strong></li>
              <li class="text-muted">Domains and hosting are billed yearly </strong></li>
            </ul>
            <a href="{% url "main:contact_view" %}" class="btn btn-block btn-primary text-uppercase">Get a Quote</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card text-center mb-5 mb-lg-0">
          <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
					<h1 class="card-title pricing-card-title">$1000 <small class="text-muted">+</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Website or Web Application</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Domain</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Personal Email Address</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> SSD Cloud Storage</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Dual Core CPU</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> 3TB Transfer</strong></li>
              <li>-or-</li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Software Project</strong></li>
              <li class="text-muted">Domains and hosting are billed yearly </strong></li>
             </ul>
            <a href="{% url "main:contact_view" %}" class="btn btn-block btn-primary text-uppercase">Get a Quote</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
					<h1 class="card-title pricing-card-title">$2500 <small class="text-muted">+</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Large Web Application</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Domain</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Personal Email Address</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> SSD Cloud Storage</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Quad Core CPU</strong></li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> 5TB Transfer</strong></li>
              <li>-or-</li>
              <li><i class="fas fa-check pricing-checkmark"></i></span><strong> Large Software Project</strong></li>
              <li class="text-muted">Domains and hosting are billed yearly </strong></li>
            </ul>
            <a href="{% url "main:contact_view" %}" class="btn btn-block btn-primary text-uppercase">Get a Quote</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




		
		<section class="faq-section" data-aos="fade-in" data-aos-duration="1000">
			<div class="container single-col-max-width">
				<h3 class="text-center text-white mb-4">FAQs</h3>
				<div id="faq-accordion" class="faq-accordion mx-auto">

			        <div class="card border-0 mb-3">
		                <div class="card-header border-0 p-3 theme-bg-light">
		                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq1" aria-expanded="false"><i class="fas fa-chevron-down"></i>I live in another city; can you still build my project?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq1">
		                    <div class="card-body pt-0 theme-bg-light">
		                        Yes I can build your project from anywhere in the world. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->

		            <div class="card border-0 mb-3">
		                <div class="card-header border-0 p-3 theme-bg-light">
		                    <h4 class="card-title mb-0"><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq2" aria-expanded="false"><i class="fas fa-chevron-down"></i>Do you build mobile applications?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq2">
		                    <div class="card-body pt-0 theme-bg-light">
		                        I don't currently build mobile applications for Android or IOS. Perhaps in the future I will take on some mobile projects. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->
		           
	            
	            </div><!--//faq-accordion-->
			</div><!--//container-->
		</section><!--//faq-section-->
	</div>

{% endblock %}