
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
       {% load staticfiles %}
      <a class="navbar-brand" href="{% url 'main:homepage_view' %}"><i class="logo fas fa-terminal"></i></a>
      <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon1"><span></span><span></span><span></span></div>
  </button>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:homepage_view' %}"><i class="fas fa-home mr-2"></i>Home</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" href="{% url "main:projects_view" %}"><i class="fas fa-laptop-code mr-2"></i>Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "main:contact_view" %}"><i class="fas fa-envelope-open-text mr-2"></i></i>Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "main:blog_view" %}"><i class="fas fa-blog mr-2"></i>Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" target="_blank" href="https://www.github.com/dreamxinxcode/">
              <i class="fab fa-github"></i>
            </a>
          </li>
    </ul>
  </div>
</div>
</nav> 
